
FxControl/bin/Debug/en-US/FxControl.resources.dll
FxControl/bin/Debug/fr-FR/FxControl.resources.dll
FxControl/bin/Debug/FxControl.exe
FxControl/bin/Debug/FxControl.exe
FxControl/bin/Debug/FxControl.exe.config
FxControl/bin/Debug/FxControl.pdb
*.txt
FxControl/obj/Debug/en-US/FxControl.resources.dll
FxControl/obj/Debug/fr-FR/FxControl.resources.dll
.vs/FxControl/v15/.suo
.vs/FxControl/v15/Server/sqlite3/db.lock
.vs/FxControl/v15/Server/sqlite3/storage.ide
.vs/FxControl/v15/Server/sqlite3/storage.ide-shm
.vs/FxControl/v15/Server/sqlite3/storage.ide-wal
